.body{
    // color: white;   
    .link{
     color: white;   
     text-decoration: none;
    }
    .cardsOfFaculty{
        background-color: #FF8A65;
    }
    .cardsOfStudent{
        background-color: #4DB6AC;
    }
    .cardsOfSubject{
        background-color: #F06292;
    }
}