.studentTable {
    padding-top: 0px;

    .dropdown {
        display: inline-block;
        padding: 5px;
    }

    .add {
        float: right;
    }

    .header {
        display: flex;
        justify-content: space-between;
        // line-height: 20px;
    }

    .add {
        margin-top: 3px;
    }
}