.homepage{
    // margin-top: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // min-height: 90vh;
    // min-width: 110vh;

    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;

    .btn .text .password{
        margin-bottom: 100px;
    }
}