.RegisterPage {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
}

.RegisterPage h2 {
    font-size: xx-large;
    font-weight: bold;
    padding-left: 7rem;
}

#login #label {
    margin-left: 6rem;
    margin-top: 2rem;

}

#login #link {
    margin-left: 0.5rem;
    margin-top: 1.7rem;
 
}

#registerBtn {
    margin-top: 1rem;
}